<div class="container mt-48 flex">
    <div class="left">
        <img class="w-60" src="assets/Facebook_logo_(2023).svg" alt="facebook">
        <p>Facebook helps you connect and share with the people in your life.</p>
    </div>
    <div class="right flex flex-col">
        <form #LoginForm="ngForm" (ngSubmit)="Login(LoginForm)">
            <input type="text" placeholder="Email address or phone number" required><br>
            <input type="password" name="" id="" placeholder="Password"><br>
            <button class="btn">Login</button><br>

            <span><a routerLink="/forget">Forgetten password ?</a></span><br>
            <hr><br>
            <button class="create">Create New Account</button>
        </form>
    </div>
</div>