<div class="min-h-screen bg-gray-100 text-gray-900 dark:bg-gray-900 dark:text-white">
  <div class="p-4 border-b border-gray-200 dark:border-gray-700 float-end flex flex-row">
    <nav>
      <div>
        <ul class="dark:text-white list-none flex flex-row gap-6 mr-4">
          <li routerLink="/home" routerLinkActive="border-b-2 border-blue-500 text-blue-500"
            [routerLinkActiveOptions]="{ exact: true }" class="cursor-pointer flex items-center gap-2 pb-1">
            <img src="assets/picture.png" alt="post" class="h-5 w-5">
            Home
          </li>
          <li routerLink="/reels" routerLinkActive="border-b-2 border-blue-500 text-blue-500"
            [routerLinkActiveOptions]="{ exact: true }" class="cursor-pointer flex items-center gap-2 pb-1">
            <img src="assets/instagram-reels-icon.png" alt="reels" class="h-5 w-5">
            Reels
          </li>
          <li routerLink="/login" routerLinkActive="border-b-2 border-blue-500 text-blue-500"
            [routerLinkActiveOptions]="{ exact: true }" class="cursor-pointer flex items-center gap-2 pb-1">
            <img src="assets/user.png" alt="reels" class="h-5 w-5">
            Log in
          </li>
        </ul>
      </div>
    </nav>
    <button (click)="toggleDarkMode()" class="px-4 py-2 rounded-lg bg-gray-200 dark:bg-gray-700 dark:text-white">
      <svg *ngIf="!isDark" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 12.79A9 9 0 1111.21 3a7 7 0 009.79 9.79z" />
      </svg>

      <svg *ngIf="isDark" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 3v1m0 16v1m8.66-9H21M3 12H2m15.364-6.364l-.707.707M6.343 17.657l-.707.707m12.728 0l-.707-.707M6.343 6.343l-.707-.707M12 5a7 7 0 000 14a7 7 0 000-14z" />
      </svg>
    </button>
  </div>
  <div class="p-4">
    <router-outlet></router-outlet>
  </div>
</div>